*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*stilizzazione button*/

button{
    padding: 10px;
    border: none;
}

.white{
    border: 1px solid black;
}

.blue{ 
    background-color: #3661ff;
    color: white;
}

.noborder{
    border: none;
}

/*fine stilizzazione button*/


/*inizio header*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    line-height: 60px;
}

.all-header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0px 15px;
}

.header-left{
    display: flex;
    justify-content: flex-start;
}

.header-right{
    display: flex;
    justify-content: flex-end;
}

.links li a img{
    vertical-align: middle;
}

.links{
    display: flex;
    justify-content: center;
    list-style: none;
}

.links li a{
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.links li{
    border-bottom: 1px solid white;
}

/*fine header*/


/*inizio main*/

main{
    margin: 0 auto;
    width: 100%;
}

.container{
    width: 100%;
    margin-top: 50px;
}

/*inizio top main*/

.main-top{
    width: 100%;
    height: 520px;
    background-color: #B4D0E7;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.main-title{
    width: 80%;
    align-self: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.main-box{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-top-text{
    width: 30%;
}

.main-top-text a{
    color: black;
}

.main-top-text *{
    margin-bottom: 20px;
}

.main-top-img{
    width: 70%;
}

.main-top-img img{
    width: 100%;
    transition: 3s;
}

/*fine top main*/


/*inizio grid main*/

.main-grid-container{
    padding-top:120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-grid{
    text-align: left;
    width: 65%;
    padding: 30px 0;
}

.text-grid h2{
    margin-bottom: 40px;
    font-size: 2rem;
}

.text-grid span{
    padding-right: 40px;
}

.text-grid span i, .icon-blue{
    color: #0765ff;
}

.main-grid {
    width: 65%;
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  
  .main-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    border: 1px solid black;
  }

  .list-grid ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px 0px 0px 30px;
  }

  .list-grid li{
      padding: 10px 10px;
      list-style: none;
      text-indent: -10px;
  }

  .opacity{
      opacity: 0.4;
  }

  h4{
      font-size: 1.5rem;
  }

  .nav-grid{
      height: 30px;
      width: 100%;
      line-height: 30px;
      text-align: center;
      border-bottom: 1px solid black;
  }

  .grid-bottom{
      width: 65%;
      height: 200px;
      border: 1px solid black;
      margin: 60px auto;
  }

  .enterprise{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
  }

  .enterprise-title{
      width: 50%;
      height: 170px;
  }

  .enterprise-title p, .enterprise-title h3{
      padding-top: 15px;
      margin-left: 15px;
  }


  .enterprise-button{
      width: 50%;
      height: 170px;
      padding: 20px 0px 0px 150px ;
  }

  /*fine grid main*/

  /*inizio center main*/
  .main-center{
      width: 65%;
      height: 400px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 60px;
  }

  .image-main-center{
      width: 60%;
  }

  .image-main-center img{
      width: 100%;
  }

  .textimage-main-center{
      width: 40%;
  }

  .textimage-main-center *{
      margin:20px;
  }

  

  /*fine center main*/

  /*inizio card main*/

  .card-title{
      width: 65%;
      margin: auto;
      padding-bottom: 30px;
  }

  .cards-main{
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 60px;
  }

  .card{
      width: calc(90% / 3 - 15px);
      margin: 15px;
  }

  .card img{
      width: 100%;
  }

  .card h4{
      padding: 10px 0px;
  }

  /*fine card main*/

  /*inizio team main*/

  .team-title{
      width: 65%;
      margin: 0 auto;
      height: 50px;
      text-align: left;
      margin-bottom: 120px;
      padding-top: 30px ;
  }
  
  .team-title p {
      padding: 30px 0px;
  }

  .team-square{
      width: 100%;
      display: flex;
  }

  .square{
      width: calc(100% / 3);
      height: calc(100vw / 3);
  }


  .square-left, .square-right{
      display: flex;
      flex-wrap: wrap;
  }

 .square-left div, .square-right div{
     height: 50%;
     width: 50%;
     border: 1px solid black;
 }

 .square-border{
    background-color: #a2d39b;
    width: 90% !important;
    height: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none !important;
}

 .logo-width{
     position: relative;
     transition: 2s;
 }
 
 .logo-width img{
     filter: invert(1);
     width: 50%; 
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

.green{
     background-color: #d1e9cd;
 }

.bordeaux{
    background-color: #61082b;
 }

.lightblue{
    background-color: #0093ce;
 }

.lightred{
    background-color:#ff1c1c ;
 }

.red{
    background-color:#d5001f ;
 }

.lightgray{
    background-color: #b4d0e7;
 }

.blunight{
    background-color: #0d2481;
 }

.yellow{
    background-color: #ffd830;
 }

.square-center{
    width: 34%;
    background-color: #f5f5f5;
    padding: 40px 0px 30px 15px;
}

.square-center img{
    width: 60%;
}

.square-center .like-drop{
    padding: 30px 0px;
}


/*fine team main*/


/*inizio bluetext main*/

.blue-text{
    width: 100%;
    background-color: #b4d0e7;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.blue-text > div{
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue-text h2{
    font-size: 2.5rem;
}


/*fine bluetext main*/


/*inizio answer main*/

.answer-main{
    width: 65%;
    display: flex;
    margin: auto;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px; 
}

.answer-main h2{
    padding-bottom: 20px;
}

.answer-main ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.answer-main ul li .answer-top{
    padding: 40px 0px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.answer-content{
    display: none;
}
.bottom-border{
    border-bottom: 1px solid black;
}


/*fine answer main*/


/*inizio footer*/

footer{
    width: 100%;
    background-color: black;
    margin-top: 30px;
}

.footer-container{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-box{
    width: 15%;
    padding-top: 30px;
}

.marginlang{
    margin-top: 30px;
}

.footer-box ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 60px;
}

.footer-box ul li{
    padding-top: 10px;
    color: white;
    font-size: 13px;
}

.language{
    display: inline-block;
    border-top: 1px solid white;
}

.footer-container .language{
    color: white;
}

/*inizio hover*/

button:hover{
    opacity: 0.4;
}

.links li:hover{
    border-bottom: 2px solid black;
}

.anim-hov{
    transition: 2s;
}

.anim-hov:hover{
    transform: scale(0.5);
    color: rgba(33, 41, 252, 0.8);
}

.main-top-img img:hover{
    filter: drop-shadow(16px 16px 20px blue) invert(25%);
}

.answer-display:hover .answer-content{
    display: block;
    background-color: #f5f5f5;
}

.answer-display:hover .fa-angle-down{
    transform: rotate(180deg)
}

.logo-width:hover{
    transform: scale(0.54);
    filter: opacity(70%);
    border: none;
    border-radius: 25px;
}


