*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inizio header*/

.all-header{
    height: 60px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.header-left{
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
}

.header-right{
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
}

.header-logo, .top-link-left{
    display: inline-block;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li a{
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

button{
    color: white;
    background-color: blue;
    padding: 10px;
    margin-right: 5px;
    border: none;
}

/*fine header*/

/*inizio main*/

main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
}

.main-top{
    width: 100%;
    height: 500px;
    background-color: lightblue;
    margin: 0;
    border: 1px dotted #000;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.main-box{
    display: flex;
    justify-content: center;
}

.main-title{
    width: 80%;
    background-color: green;
    align-self: center;
    text-align: center;
}

.main-top-text{
    width: 30%;
    height: 400px;
    background-color: blue;
}

.main-top-img{
    width: 50%;
    height: 450px;
    background-color: red;
}

.main-grid-container{
    margin-top:80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-grid{
    text-align: left;
    width: 70%;
    padding: 20px 0;
}

.text-grid h2{
    margin-bottom: 30px;
}

.text-grid span{
    padding-right: 30px;
}

.main-grid {
    width: 70%;
    display: grid;
    height: 500px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }
  
  .main-grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    height: 490px;
    border: 2px solid black;
  }

  .nav-grid{
      height: 40px;
      width: 100%;
      border-bottom: 2px solid black;
  }

  .grid-bottom{
      width: 70%;
      height: 200px;
      border: 2px solid black;
      margin: 30px 0px 60px 0px;
  }

  .main-center{
      width: 70%;
      height: 400px;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 60px;
  }

  .image-main-center{
      width: 60%;
      height: 400px;
      background-color: goldenrod;
  }

  .textimage-main-center{
      width: 40%;
      height: 400px;
      background-color: violet;
  }

  .cards-main{
      width: 70%;
      background-color: bisque;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 60px;
  }

  .card{
      height: 350px;
      width: calc(90% / 3 - 5px);
      margin: 5px;
      border: 2px solid black;
  }

  .team-title{
      width: 70%;
      margin: 0 auto;
      height: 50px;
      text-align: left;
      background-color: aquamarine;
      margin-bottom: 60px;
  }

  .team-square{
      width: 100%;
      height: 400px;
      display: flex;
  }

  .square{
      width: 33%;
  }

  .square-left{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

 .square-left div, .square-right div{
     height: 50%;
     width: 50%;
     border: 1px solid black;
 } 

 .square-right{
    display: flex;
    flex-wrap: wrap;
}

.square-center{
    width: 34%;
}

.blue-text{
    width: 100%;
    background-color: lightblue;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.blue-text div{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.answer-main{
    width: 70%;
    display: flex;
    margin: auto;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px; 
}

.answer-main h2{
    padding-bottom: 20px;
}

.answer-main ul{
    display: flex;
    flex-direction: column;
}

.answer-main ul li div{
    padding: 40px 0px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.bottom-border{
    border-bottom: 1px solid black;
}

/*fine main*/

/*inizio footer*/

footer{
    width: 100%;
    height: 350px;
    background-color: black;
}

.footer-container{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-box{
    width: 15%;
    padding: 30px 0px;

}

.footer-box ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-box ul li{
    padding-top: 10px;
    color: white;

}

.up-language{
    border-bottom: 1px solid white;
}


